/*  lightred: #F0CCD3
    dark red:#EB26267A */

body{
    padding: 0;
    margin:0;
    font-family: 'Lato', sans-serif;
}

.mentallye-logo{
    width:150px;
}

nav{
    min-height: 70px;
    background: #F0CCD3;
    height: 90px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 25px 25px;
    padding: 0 0;
    margin: 0 auto;
    box-shadow: 0px 1px 35px 0px #D17E7E;


}

.left{
    padding-left: 30px;
}

.right{
    width: 80%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
}

.list-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    list-style: none;
    padding-left: 0px;
}

.list-options li a {
  text-decoration: none;
  font-weight:600;
  color: rgb(78, 77, 77);
  transition: 0.3s ease;
  
}

.list-options li a:hover {
  color: rgb(0, 0, 0);
}


.find-counselling{
    margin-left: 20px;
    border-radius: 30px;
    width: 160px;
    height: 40px;
    border: none;
    font-size:medium;
    font-weight:600;
    background: #d43d3d7a;

    
}

.find-counselling:hover{
  background-color: black;
  color: #F0CCD3 ;
  transition: 0.40s;
  cursor: pointer;
  
}


.hamburger{
  display: none;
  cursor: pointer;

}

.bar{
  display: block;
  width: 25px;
  height: 4px;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;

}


.landing-page{
    background: #d43d3d7a;
    width: 100%;
    height:749px;    
}

.abt-desc{
  display: flex;
  justify-content: space-around;
  background-color: #F0CCD3;
  border-radius: 15px;
  padding-top: 0;
  margin: 70px 115px;
  
}

.abt-desc div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: auto;
  
}

.abt-desc img{
  /* width: 400px; */
  height: 400px;
  
}



/* Mobile styles */
@media (max-width: 1300px) {
  .list-options {
      display: none;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  nav{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }

  .right{
      display: flex;
      justify-content: space-around;
      position: relative;
  }

  .find-counselling{
      margin-right: 30px;
  }

  .list-options.show-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      position:absolute;
      right: 0px;
      top: 25px;
      background-color: #F0CCD3;
      padding: 20px 25px;
      gap:50px;
  }
}




@media(max-width: 1000px){
  .abt-desc{
    display: grid;
    width: 80%;
    min-width: 300px;
    margin: 70px auto;
  }

  .abt-desc img{
    display: grid;
    width: 100%;
    width:100%;
    
  }

  nav{
    display: flex;
    justify-content: space-around;

}


}








 





